.fr-ImageHeader-container {
  position: relative;
  .fr-image-header {
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
    background-position: center;
  }

  .fr-effects {
    filter: none;
    transition: 400ms ease;
  }
  &:hover,
  &:focus {
    .fr-ImageHeader-overlay {
      opacity: 1;
    }
    .fr-effects {
      transition: 400ms ease;
    }
    // Filters applied on the images
    .fr-effect-grayscale {
      filter: grayscale(100%);
      -webkit-filter: grayscale(100%);
    }
    .fr-effect-fadeIn {
      opacity: 0.7;
    }
    .fr-effect-scale {
      transform: scale(1.03);
      box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.2);
    }
    .fr-effect-blur {
      filter: blur(2px);
    }
    .fr-effect-opacity {
      filter: brightness(50%);
      -webkit-filter: brightness(50%);
    }
    .fr-effect-sepia {
      filter: sepia(100%);
      -webkit-filter: sepia(100%);
    }
    .fr-effect-lightly {
      filter: brightness(130%);
      -webkit-filter: brightness(130%);
    }
    .fr-effect-dark {
      filter: brightness(85%);
      -webkit-filter: brightness(85%);
    }
  }
  .fr-ImageHeader-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: 0.5s ease;
    background-color: rgba(0, 0, 0, 0.15);
    .fr-ImageHeader-text {
      color: white;
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      text-shadow: 2px 2px 2px black;
      width: 100%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    }
  }
}
